*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  user-select: none;
}

p {
  cursor: default;
}

/* Root */

:root {
  /* Colors */

  --yellow-color: #fcb72b;
  --dark-navy: #495567;
  --dim-gray: #939caa;
  --light-gray: #e5ecf4;
  --snow-white: #f2f5f9;
  --light-yellow: #fff4df;

  /* Typography */

  --spacemono-font: "Space Mono", sans-serif;
  --LexendDeca-font: "Lexend Deca", sans-serif;
}

/* Headings */

h1 {
  cursor: default;
  font-size: clamp(2.5rem, calc(2.15rem + 1.74vw), 3.5rem);
  font-family: var(--spacemono-font);
}

h2 {
  cursor: default;
  font-size: clamp(2rem, calc(1.65rem + 1.74vw), 3rem);
  font-family: var(--spacemono-font);
}

h3 {
  cursor: default;
  font-size: clamp(1.5rem, calc(1.15rem + 1.74vw), 2.5rem);
  font-family: var(--spacemono-font);
}

h4 {
  cursor: default;
  font-size: clamp(1.13rem, calc(0.99rem + 0.65vw), 1.5rem);
  font-family: var(--spacemono-font);
}
/* Buttons */

.btn {
  background-color: var(--yellow-color);
  border: none;
  color: var(--snow-white);
  font-size: clamp(0.63rem, calc(0.49rem + 0.65vw), 1rem);
  font-weight: bold;
  font-family: var(--spacemono-font);
  padding: 1em 3em;
  cursor: pointer;
  transition: 200ms all ease;
  border: 1px solid transparent;
}

.btn:hover {
  background-color: var(--snow-white);
  color: var(--yellow-color);
  border-color: var(--yellow-color);
}

/* Navbar */

header {
  width: 100%;
  height: 100px;
  position: fixed;
  inset: 0;
  background-color: var(--snow-white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.nav--container {
  font-family: var(--spacemono-font);
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: min(1300px, 100% - 2rem);
  margin: 0 auto;
  align-items: center;
}

.logo > a {
  color: var(--dark-navy);
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
}

.nav-content {
  display: flex;
  align-items: center;
  gap: 60px;
}

.nav--list {
  display: flex;
  gap: 30px;
}

.nav--list > li > a {
  font-size: 15px;
  color: var(--dim-gray);
  text-decoration: none;
  font-weight: 500;
}

.active {
  font-weight: 900 !important;
  color: var(--yellow-color) !important;
}

.nav--list > li > a:hover {
  font-weight: 900 !important;
  color: var(--yellow-color);
}

/* Home Page */

.home--section {
  width: 100%;
  height: 100vh;
  background: url(./assets/Images/Hero-Background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  width: min(1300px, 100% - 2rem);
  height: 100%;
  margin: 0 auto;
}

.hero--content {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template: 1fr / repeat(2, 1fr);
  align-items: center;
}

.col1_row1 {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title > h1 {
  line-height: 1;
  color: var(--snow-white);
  font-weight: bold;
  animation: FadeIn 1s;
}

.details {
  width: 85%;
  align-self: flex-end;
  padding-inline-end: 80px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.details > p {
  position: relative;
  color: var(--snow-white);
  font-size: 15px;
  text-align: justify;
  font-family: var(--LexendDeca-font);
  font-weight: 400;
  line-height: 2;
  animation: PopUp 2s;
}

.details > p::before {
  content: "";
  position: absolute;
  background: url(./assets/Images/path1.svg);
  background-repeat: no-repeat;
  width: 100%;
  right: 15rem;
  top: 2.5rem;
  height: 100%;
}

.details > p::after {
  content: "";
  position: absolute;
  background: url(./assets/Images/path2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  left: 35rem;
  top: 3rem;
}

.getinBtn {
  animation: Opacity 2s;
}

.getinBtn > .btn:hover {
  background-color: transparent;
}

section.cards--section {
  padding-block: 15vh;
  height: 100%;
  width: 100%;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.card--container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 330px;
  height: 290px;
}

.card--title > h4 {
  color: var(--dark-navy);
}

.card--details > p {
  text-align: justify;
  color: var(--dim-gray);
  font-family: var(--LexendDeca-font);
}

.usageSection {
  padding-block: 100px;
  width: 100%;
  height: 100%;
}

.usage-two {
  position: relative;
}

.usage-two::after {
  content: "";
  width: 100%;
  height: 100%;
  background: url(/src/assets/Images/maskedCircle.png);
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  background-position-x: -300px;
  background-position-y: 170px;
}

.usage-content {
  display: grid;
  grid-template: 1fr / repeat(2, 1fr);
}

.colOne {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.usage-title > h2 {
  color: var(--dark-navy);
  line-height: 1.2;
}

.col2-sec2 {
  text-align: right;
}

.sec-two {
  display: flex;
  justify-content: flex-end;
}

.usage--details > p {
  color: var(--dim-gray);
  font-size: 15px;
  line-height: 1.3;
  font-family: var(--LexendDeca-font);
  text-align: justify;
}

.colTwo {
  justify-self: end;
}

.colTwo img {
  width: 100%;
  height: auto;
}

.col1-sec2 {
  justify-self: start;
}

.signupSection {
  height: 300px;
  width: 100%;
  background: url(assets/Images/signupBg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.signupContent {
  display: flex;
  height: 100%;
  align-items: center;
}

.signupContent > h1 {
  color: var(--snow-white);
}

footer {
  background-color: #333a44;
}

a.footer--logo {
  color: var(--snow-white);
}

/* ----------------------------------------------- ----------------------------------------------- */
/* ----------------------------------------------- ----------------------------------------------- */
/* ----------------------------------------------- ----------------------------------------------- */
/* ----------------------------------------------- ----------------------------------------------- */
/* ----------------------------------------------- ----------------------------------------------- */
/* ----------------------------------------------- ----------------------------------------------- */
/* ----------------------------------------------- ----------------------------------------------- */
/* ----------------------------------------------- ----------------------------------------------- */
/* ----------------------------------------------- ----------------------------------------------- */
/* ----------------------------------------------- ----------------------------------------------- */

/* KeyFrame Animations */

@keyframes FadeIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes PopUp {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes Opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* ----------------------------------------------- ----------------------------------------------- */
/* ----------------------------------------------- ----------------------------------------------- */
/* ----------------------------------------------- ----------------------------------------------- */
/* ----------------------------------------------- ----------------------------------------------- */
/* ----------------------------------------------- ----------------------------------------------- */
/* ----------------------------------------------- ----------------------------------------------- */
/* ----------------------------------------------- ----------------------------------------------- */
/* ----------------------------------------------- ----------------------------------------------- */
/* ----------------------------------------------- ----------------------------------------------- */
/* ----------------------------------------------- ----------------------------------------------- */

@media (max-width: 1400px) {
  .details > p::after {
    display: none;
  }
  .details > p::before {
    display: none;
  }
  .hero--content {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .details {
    width: 100%;
    padding-inline-end: 0;
  }
}

@media (max-width: 1048px) {
  .cards {
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }
  section.cards--section {
    padding-block-end: 15vh;
  }

  .usage-content {
    place-items: center !important;
    grid-template: 1fr / 1fr;
    gap: 50px;
  }

  .col2-sec2 {
    text-align: left;
  }
  .colTwo {
    justify-self: center;
  }
  .usageSection {
    padding-block: 50px;
  }
  section.cards--section {
    padding-block-end: 0;
  }
  .sec-two {
    display: flex;
    justify-content: flex-start;
  }
}
